.deliverTo{
    margin-top : 10px;
    padding-top : 10px;
    border-top: 1px solid #e7e7e7;
    border-bottom : 1px solid #e7e7e7;
}
 
.locator{
    display: inline-block;
}

.zipCodeText{
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}

.locatorimage{
    height: 15px;
    width: 15px;
    padding-bottom: 20px;
}

.zipCode{
    color : #0066c0;
}

.zipCode:hover{
    color :  #B12704;
    cursor : pointer;
}

.delivery{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.delivery-header{
    text-align: left;
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    padding:10px 14px;
    font-weight: bold;
    display : block;
    color: #111;
    font-size: 13px;
    margin: auto;
    width: 25%;
    border: 1px solid #e1e1e1;
    z-index: 100;
    border-radius: 4px 4px 0 0;
}

.delivery-content{
    background-color: #fff;
    padding:10px 14px;
    display: block;
    width: 25%;
    margin: auto;
}

.delivery-content-orangebox{
    border: 1px solid #f5c092;
    padding: 10px;
    background-color: #fef8f2;
    margin: 10px 0px;
}

.address{
    color: #a2a19f;
    font-size: 13px;
    font-weight: bold;
}

.addressBook{
    color : #0066c0;
}

.addressBook:hover{
   text-decoration: underline;
   color :  #B12704;
   cursor : pointer;
}

h5{
    text-align: center;
    position: relative;
    z-index: 100;
    background-color: white;
    font-size: 13px;
    color: #949494;
}


h5:before{
    content: '';
    position: absolute;
    top:50%;
    left: 0;
    overflow: hidden;
    width: 30%;
    border-top: 1px solid #f1f1f1;
    height: 1px;
    z-index: -100;
}

h5:after{
    content: '';
    position: absolute;
    top:50%;
    right: 30;
    overflow: hidden;
    width: 30%;
    border-top: 1px solid #f1f1f1;
    height: 1px;
    z-index: -100;
}

.or:before{
    content: '';
    position: absolute;
    top:50%;
    left: 0;
    overflow: hidden;
    width: 45%;
    border-top: 1px solid #f1f1f1;
    height: 1px;
    z-index: -100;
}

.or:after{
    content: '';
    position: absolute;
    top:50%;
    right: 55;
    overflow: hidden;
    width: 45%;
    border-top: 1px solid #f1f1f1;
    height: 1px;
    z-index: -100;
}

.options{
    width: 100%;
    height: 29px;
}

.options option{
    width: 100%;
    height: 29px;
}

.delivery-footer{
    text-align: right;
    background-color: #f8f8f8;
    padding:10px 13px;
    font-weight: bold;
    display : block;
    color: #111;
    font-size: 13px;
    margin: auto;
    width: 25%;
    border: 1px solid #ececec;
    z-index: 100;
    border-radius: 0 0 4px 4px;
}

.done{
   background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
   border-color: #a88734 #9c7e31 #846a29;
   border-radius: 3px;
   padding: 8px 10px;
   font-size: 13px;
}

.textInput{
    border-radius: 3px;
}